# MongoDB Connection Settings
# For local MongoDB:
# MONGODB_URI=""
# For MongoDB Atlas:
MONGODB_URI=""

# Database and collection names
MONGODB_DB_NAME=word_learning
MONGODB_COLLECTION=word_history

# AWS SES Configuration
# Set EMAIL_ENABLED to true to enable email sending
EMAIL_ENABLED=false
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
EMAIL_SENDER=your.email@example.com

# Subscribers (comma-separated list)
# Alternatively, you can use the subscribers.txt file
EMAIL_SUBSCRIBERS=user1@example.com,user2@example.com

# Other Settings
# DEBUG=true 
